<% meta title: "Reddit Ad Alerts - Monitor Subreddit Advertising Inventory",
  description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
  keywords: %w(reddit subreddits advertising),
  og: {
    title: "Reddit Ad Alerts",
    description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
    type: "website",
    image: "",
    url: "http://#{ENV['PRODUCTION_DOMAIN']}"
  },
  twitter: {
    title: "Reddit Ad Alerts",
    description: "Monitor subreddit ad opportunities with weekly reports and unclaimed inventory alerts.",
    card: "summary_large_image",
    site: "@brianpetro_",
    creator: "@brianpetro_"
  } 
%>
<div class="row">
  <div id="header" class="col-sm-12 text-center">
    <h1>
      Reddit Ad Alerts
    </h1>
    <h2>
      Monitor subreddit ad inventory.
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h3>
        Request an Invite
      </h3>
      <div class="alert alert-info" role="alert" style="display: none">
      </div>
      <div class="alert alert-danger" role="alert" style="display: none">
      </div>
      <%= form_for @user, remote: true, html: {"data-type" => 'json'} do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <p><b><%= pluralize(@user.errors.count, "error") %></b> prohibited this request from being saved:</p>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><b><%= message %></b></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :email, 'Email:', class: 'sr-only' %>
          <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'bob@example.com' %>
        </div>
        <div class="form-group text-right">
          <%= f.hidden_field :tracker %>
          <%= f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
        </div>
      <% end %>
      <%= render 'share_links' %>
    </div>
  </div>
</div>
<div id="support" class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        Reddit Advertising is an amazing source of low cost advertising. Unfortunately it lacks inventory and a simple way to track subreddit ad inventories.
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Our twofold solution reports all available ad space and <strong>sends an alert when previously claimed inventory becomes available</strong>.
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        Stay ahead of your competitors advertising on Reddit. Request an invite to get access before we go public!
      </div>
    </div>
  </div>
</div>
